---
layout: landing
title: 'Leanbase | Run hundreds of experiments every week.'
---

<div class="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
        <h1 class="hero-header">Run hundreds of experiments every week. Learn more, faster.</h1>

        {% include signup.html %}
      </div>
      <div class="has-hero-illustration col-lg-7 col-md-7 col-sm-12 col-xs-12">
      </div>
    </div>
  </div>
</div>

<div class="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="feature">
          <h2>Confidently Run multivariate experiments</h2>
          <p class="feature-description">
            Our statistical engine computes the *reach* of your experiment based
            on historical data and ensures that your sample is statistically
            significant.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="feature">
          <h2>Timeline</h2>
          <p class="feature-description">
            A chronological view of what your organisation has learnt over time.
            A searchable log of all your company’s knowledge.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="feature">
          <h2>Assign users or visitors based on data</h2>
          <p class="feature-description">
            So, you want to run an A/B only on customers from the EU? Or you want
            to assign (A) only to those who fulfill some other criteria. Connect
            leanbase to any CRM tool you use and assign intelligently.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="targeted-features">
  <div class="container">
    <div class="row">
      <div class="col headings">
        <h1>Feature Management that works for all</h1>
        <p>Empower all your teams with experiments at scale.</p>
      </div>
    </div>
    <div class="row tabs">
      <div class="col-md-4 active">
        <a href="javascript:showTargetFeatureTab('engineering');">Engineering Teams</a>
      </div>
      <div class="col-md-4">
        <a href="javascript:showTargetFeatureTab('growth');">Growth Teams</a>
      </div>
      <div class="col-md-4">
        <a href="javascript:showTargetFeatureTab('product');">Product Teams</a>
      </div>
    </div>
    <div id="engineering" class="row tab-panel">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="feature">
          <h2>Central Dashboard</h2>
          <p class="feature-description">
            A single dashboard to manage the lifecycle of a feature flag from
            development to deployment to retirement.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="feature">
          <h2>Controlled Rollout</h2>
          <p class="feature-description">
            Rolling deploy of flag changes across your user-base so that you are
            sure your infrastructure can hold up.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="feature">
          <h2>Audit Trail</h2>
          <p class="feature-description">
            See an unexplained spike in service usage  a month back? See flag
            changes in any time period with our Audit Trail.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="second-cta-section">
  <div class="container">
    <div class="row">
      <div class="column">
        {% include signup.html %}
      </div>
    </div>
  </div>
</div>

<div class="screenshots">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="tab-selector">
          <ul>
            <li class="active"></li>
            <li></li>
            <li></li>
          </ul>
        </div>

        <h1>Timeline</h1>
        <p class="screenshot-description">
          We believe in a high-alignment org. Your engineering, product & growth
          teams could align better and have a shared knowledge space at leanbase
          using the Timeline.
        </p>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div class="screenshot">&nbsp;</div>
      </div>
    </div>
  </div>
</div>

<div class="third-cta-section">
  <div class="container">
    <div class="row">
      <div class="column">
        <h1>Ready to give us a try?</h1>
        {% include signup.html %}
      </div>
    </div>
  </div>
</div>