---
layout: landing
title: Feature Flagging for Faster Testing and Continous Delivery

image: 
  path: /assets/images/twitter-card.png
  width: 600px
  height: 300px
---

<div class="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <h1 class="hero-header">Accelerate your product development with Continuous Delivery.</h1>

        {% include signup.html %}
      </div>
      <div class="does-not-has-hero-illustration col-lg-4 col-md-4 col-sm-12 col-xs-12">
      </div>
    </div>
  </div>
</div>

<div class="features-top">
  <img src="/assets/images/LB-BlueBG-Sec1-top.svg" alt="">
</div>

<div class="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="feature">
          <h2>Test features on production</h2>
          <p class="feature-description">
            Use features exactly like your users would and just turn on a switch when you are ready. No deploys required!
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="feature">
          <h2>Kill Switch</h2>
          <p class="feature-description">
            Notice an issue with a feature? Remove the feature from everyone except staff. Diagnose bugs faster.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="feature">
          <h2>Eliminate complex integration and QA environments</h2>
          <p class="feature-description">
            Integrate from the get-go!. Safeguard your users by using Leanbase’s feature toggles. Never think about Integration Week (😩) again.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="targeted-features-top">
  <img src="/assets/images/LB-TealBG-Sec2-top.svg" alt="">
</div>
<div id="targeted-features" class="targeted-features">
  <div class="container">
    <div class="row">
      <div class="col headings">
        <h1>Feature Management that works for all</h1>
        <p>Empower all your teams with control at scale.</p>
      </div>
    </div>
    <div class="row tabs">
      <div id="engineering-tab" class="col-md-4 col-md-offset-2 active">
        <a href="javascript:showTargetFeatureTab('engineering');">Engineering Teams</a>
        <hr/>
      </div>
      <div id="growth-tab" class="col-md-4" style="display:none;">
        <a href="javascript:showTargetFeatureTab('growth');">Growth Teams</a>
        <hr/>
      </div>
      <div id="product-tab" class="col-md-4">
        <a href="javascript:showTargetFeatureTab('product');">Product Teams</a>
        <hr/>
      </div>
    </div>
    <div id="engineering" class="row tab-panel">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="feature">
          <h2>Central Dashboard</h2>
          <p class="feature-description">
            A single dashboard to manage the lifecycle of a feature flag from
            development to deployment to retirement.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="feature">
          <h2>Staged Rollout</h2>
          <p class="feature-description">
            Staggered release of feature across your user-base so that you are assured that the infrastructure holds up.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="feature">
          <h2>Audit Trail</h2>
          <p class="feature-description">
            See an unexplained spike in service usage  a month back? See flag
            changes in any time period with our Audit Trail.
          </p>
        </div>
      </div>
    </div>
    <div id="growth" class="row tab-panel inactive">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="feature">
          <h2>Learn More Every Week</h2>
          <p class="feature-description">
            Try out as many variations of your landing page as you would like.
            Connect to the analytics tools of your choice and learn more about
            your users and how they convert!
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="feature">
          <h2>Timeline</h2>
          <p class="feature-description">
            Add a comment while closing an experiment. Et Voila! You now have
            searchable view of what your org. has learnt about growth since
            you started using Leanbase.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="feature">
          <h2>Geo-Target Content</h2>
          <p class="feature-description">
            Leanbase allows you to show content based on where a user is from.
            You could show GDPR compliance to traffic from Europe alone, launch
            a less pricier version in developing countries, and a whole host of
            other growth tactics.
          </p>
        </div>
      </div>
    </div>
    <div id="product" class="row tab-panel inactive">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="feature">
          <h2>Build and Test on Production</h2>
          <p class="feature-description">
            Eliminate workflow overhead from complex QA and integration environments. Rest assured that features under development are available only to staff.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="feature">
          <h2>Early Access</h2>
          <p class="feature-description">
            Want to enable a feature for those prized early adopters? They are
            usually more forgiving of bugs. Get them on the bleeding edge of
            your product. Upload a list and then manage your Early Access
            Programme within Leanbase!
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="feature">
            <h2>Record Feature Launches</h2>
            <p class="feature-description">
              No more digging through messages and emails to guess when a feature went live. With Leanbase’s Audit Trail, you just <i>know</i>.
            </p>
          </div>
        </div>
    </div>
  </div>
</div>

<script>
  // Handle target feature toggles.
  (function (win) {
    win.showTargetFeatureTab = function (tab) {
      ['engineering', 'growth', 'product'].forEach(function (item) {
        if (item === tab) {
          // Show.
          document.querySelector("#targeted-features #" + item).classList.remove('inactive'); 
          document.querySelector('#targeted-features #' + item + '-tab').classList.add('active');
        } else {
          // Hide.
          document.querySelector("#targeted-features #" + item).classList.add('inactive'); 
          document.querySelector('#targeted-features #' + item + '-tab').classList.remove('active');
        }
      });
    };
  })(window);
</script>

<div class="second-cta-section">
  <div class="container">
    <div class="row">
      <div class="column">
        {% include signup.html %}
      </div>
    </div>
  </div>
</div>

<div class="screenshots">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div id="screenshots-tab-container" class="tab-container reveal-1">
          <div class="tab-selector">
            <ul>
              <li id="timeline-tab" data-target="timeline" class="tab-anchor"></li>
              <li id="integration-tab" data-target="integration" class="tab-anchor"></li>
              <li id="intuitive-tab" data-target="intuitive" class="tab-anchor"></li>
            </ul>
          </div>
          <div class="tab-scroller">
            <div class="tab" id="shots-tab-1">
              <h1>Timeline</h1>
              <p class="screenshot-description">
                We believe in a high-alignment org. Your engineering, product & growth
                teams could align better and have a shared knowledge space at leanbase
                using the Timeline.
              </p>
            </div><!--
         --><div class="tab" id="shots-tab-2">
              <h1>Integration</h1>
              <p class="screenshot-description">
                Integration with leanbase is just a few lines of code. We provide
                SDKs and APIs for every platform you need.
              </p>
            </div><!--
         --><div class="tab" id="shots-tab-3">
              <h1>Intuitive</h1>
              <p class="screenshot-description">
                Achieve mastery in minutes. Leanbase is easy to understand and
                navigate. You’ll be experimenting everything in no time!
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div id="shot-scroller" class="shot-scroller">
          <div id="shot-1" class="screenshot">&nbsp;</div><!--
       --><div id="shot-2" class="screenshot">&nbsp;</div><!--
       --><div id="shot-3" class="screenshot" style="background: url('assets/images/screenshot-features.png');">&nbsp;</div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  // Handle screenshots toggle
  var anchors = Array.from(document.getElementsByClassName('tab-anchor'));

  anchors.forEach(function (tab) {
    tab.addEventListener('click', function () {
      var tabName = tab.getAttribute('data-target');

      // scroll descriptions to appropriate pos.
      var tabContainer = document.getElementById('screenshots-tab-container');
      if (tabName === 'timeline') {
        tabContainer.classList.add('reveal-1');
        tabContainer.classList.remove('reveal-2');
        tabContainer.classList.remove('reveal-3');
      } else if (tabName === 'integration') {
        tabContainer.classList.remove('reveal-1');
        tabContainer.classList.add('reveal-2');
        tabContainer.classList.remove('reveal-3');
      } else if (tabName === 'intuitive') {
        tabContainer.classList.remove('reveal-1');
        tabContainer.classList.remove('reveal-2');
        tabContainer.classList.add('reveal-3');
      }

      var shotsScroller = document.getElementById('shot-scroller');
      if (tabName === 'timeline') {
        shotsScroller.classList.remove('reveal-2');
        shotsScroller.classList.remove('reveal-3');
      } else if (tabName === 'integration') {
        shotsScroller.classList.add('reveal-2');
        shotsScroller.classList.remove('reveal-3');
      } else if (tabName === 'intuitive') {
        shotsScroller.classList.remove('reveal-2');
        shotsScroller.classList.add('reveal-3');
      }
    })
  });
</script>

<div class="third-cta-section">
  <div class="container">
    <div class="row">
      <div class="column">
        <h1>Ready to give us a try?</h1>
        {% include signup.html %}
      </div>
    </div>
  </div>
</div>

{% include modal.html %}
{% include signup_slideout.html %}