<div id="blog-header-id" class="blog-header">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
        <a class="logo" href="/blog/">
          Continuous
          <!-- <img src="/assets/images/continuous-logo.png" alt="continuous by leanbsae"> -->
        </a>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 header-links text-right">
        <a href="/" class="header-link">Try Leanbase</a>
        <a href="/" class="header-link-cta">Subscribe</a>
      </div>
    </div>
  </div>
</div>