<div class="blog-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12 col-xs-12">
        Continuous is a blog by Leanbase. 
        We publish articles and guides on running online experiments. <a href="javascript:showSubscribeForm();">Subscribe</a> to receive updates or follow us on <a href="https://twitter.com/LeanbaseHQ">Twitter</a>.
      </div>
      <div class="col-md-offset-4 col-md-2 text-right">
        <ul>
          <li><a href="/blog">Blog Home</a></li>
          <li><a href="/docs/">Docs</a></li>
        </ul>
      </div>
      <div class="col-md-2 text-right">
        <ul>
          <li><a href="/">Leanbase</a></li>
          <li><a href="https://twitter.com/LeanbaseHQ">Twitter</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>