<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{
    clear:left;
    font:14px Helvetica, Arial, sans-serif;
    width:100%;

    position: fixed; z-index: 20;
    top: -100vh; left: 0;
    padding-top: 40px;

    transition: top 200ms ease-in;
  }

  #mc_embed_signup.show {
    top: 0;
  }

  #mc_embed_signup #mc_embed_signup_scroll {
    background:#fff; max-width: 500px; margin: 0 auto;
    border-radius: 4px;
    border: 1px solid #E7E6EB;
    padding: 120px 20px;
    box-shadow: 0px 18px 14px -17px rgba(0,155,163,1);

    position: relative;
  }

  #mc_embed_signup #mc_embed_signup_scroll a.cancel {
    position: absolute; top: 10px; right: 10px;

    color: rgb(168, 168, 168);
    text-decoration: none;
  }

  #mc_embed_signup #mc_embed_signup_scroll a.cancel:hover {
    text-decoration: underline;
  }


  #mc_embed_signup .button {
    background-color: rgba(0,155,163,1);
  }

  #mc_embed_signup .button:hover {
    background-color: rgba(0,155,163, 0.8);
  }

	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
  
</style>
<div id="mc_embed_signup">
  <form action="https://leanbase.us4.list-manage.com/subscribe/post?u=6513dfd3e1ca6148cef8db9ad&amp;id=fd6a943900" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <a href="javascript:hideSubscribeForm();" class="cancel">cancel</a>
      <label for="mce-EMAIL">Subscribe to Continuous from Leanbase</label>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6513dfd3e1ca6148cef8db9ad_fd6a943900" tabindex="-1" value=""></div>
      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
  </form>
</div>

<script>
  (function (win) {
    var engageEscape = false;

    win.showSubscribeForm = function () {
      document.getElementById('mc_embed_signup').classList.add('show');
      document.getElementById('mce-EMAIL').focus();

      engageEscape = true;
    }

    win.hideSubscribeForm = function hideSubscribeForm() {
      document.getElementById('mc_embed_signup').classList.remove('show');
      engageEscape = false;
    }

    win.onkeydown = function (e) {
      if (!engageEscape) {
        return;
      }

      if (e.key === 'Escape') {
        hideSubscribeForm();
      }
    }
  })(window);
</script>
<!--End mc_embed_signup-->