<div id="blog-header-id" class="blog-header">
  <a class="top-bar" href="/">
    <div>
      <p>&lt; Leanbase.com</p>
    </div>
  </a>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <a class="logo" href="/blog/">
          <img src="/assets/images/continuous-logo.png" alt="continuous, a blog by leanbase">
        </a>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6 header-links text-right">
        <a href="/" class="header-link-cta">Try Leanbase</a>
        <!-- <a href="javascript:showSubscribeForm();" class="header-link-cta">Subscribe</a> -->
      </div>
    </div>
  </div>
</div>