<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-12">
        <a class="logo" href="/"><img src="/assets/images/logo-full.svg" alt="leanbase"></a>
        <p>
          &copy; 2019, Leanbase Tech. Pvt. Ltd.
        </p>
        <p>
            Leanbase is made with loads of ❤ in Bengaluru, India.
        </p>
      </div>
      <div class="col-md-offset-3 col-md-2 col-xs-12">
        <ul>
          <li><h2>Use cases</h2></li>
          <li><a href="/product-managers/">Product Management</a></li>
        </ul>
      </div>  
      <div class="col-md-2 col-xs-12">
        <ul>
          <li><h2>Company</h2></li>
          <li><a href="/about/privacy-policy">Privacy Policy</a></li>
          <li><a href="mailto:support@leanbase.io">Contact us</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-xs-12">
        <ul>
          <li><h2>Resources</h2></li>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/docs/">Using Leanbase</a></li>
          <li><a href="https://twitter.com/LeanbaseHQ">Twitter</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>