<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-xs-4">
        <a class="logo" href="/"><img src="/assets/images/logo-full.svg" alt="leanbase"></a>
      </div>
      <div class="mob-header-button hidden-md hidden-lg">
        <a id="reveal-header-links" href="#">&#9776;</a>
      </div>
      <div id="header-links" class="col-md-6 col-md-offset-4 header-links hidden-sm hidden-xs">
        <span class="header-menu">
          <label>Use Cases</label>
          <div class="flyout">
            <a href="/product-managers/" class="header-link">Product Managers</a>
            <a href="/engineering-teams/" class="header-link">Engineering Teams</a>
          </div>
        </span>
        <a class="header-link" href="/docs/">Docs</a>
        <a class="header-link" href="/blog/">Blog</a>
        <a class="header-link primary" href="javascript:slideSignupIn('');">Signup</a>
      </div>
    </div>
  </div>
</div>

<script>
  (function (win) {
    var link = document.getElementById('reveal-header-links');
    var links = document.getElementById('header-links');

    function showHeaderBlock() {
      links.classList.remove('hidden-xs', 'hidden-sm', 'header-links');
      links.classList.add('header-links-block');

      link.innerHTML = 'X';
    }
    
    function hideHeaderBlock() {
      links.classList.remove('header-links-block');
      links.classList.add('hidden-xs', 'hidden-sm', 'header-links');

      link.innerHTML = '&#9776;';
    }
    
    var shown = false;
    link.onclick = function () {
      if (shown) {
        shown = false;
        hideHeaderBlock();
      } else {
        shown = true;
        showHeaderBlock();
      }
    }
  })(window);
</script>