<div id="signup-slideout" class="slideout">
  <div class="panel">
    <a href="javascript:slideSignupOut();" class="close">x</a>

    <h1>Let's create your account on Leanbase</h1>

    <form method="GET" action="{{ page.lbapp_url }}accounts/signup/">
      <input type="hidden" name="command" value="prefill_email">
      <label for="signup-slideout-email">Work email</label>
      <input id="signup-slideout-email" type="email" autocomplete="email" name="email" placeholder="name@workplace.com">
      <input type="submit" class="form-cta" value="Signup">
    </form>

    <div class="bottom-alternate">
      <p>Already have an account with us?</p>
      <p><a href="/login">Login instead?</a></p>
    </div>
  </div>
</div>
<script>
  (function (win) {
    window.slideSignupIn = function (value) {
      var el = document.getElementById('signup-slideout');
      
      el.classList.add('show');

      el.offsetHeight; // Force rerender

      el.classList.add('unveil');

      var input = document.getElementById("signup-slideout-email");

      if (value) {
        input.value = value;
      }

      input.focus();
    }

    window.slideSignupOut = function () {
      var el = document.getElementById('signup-slideout');
      
      el.classList.remove('unveil');

      el.offsetHeight; // Force rerender

      el.classList.remove('show');
    }
  })(window);
</script>