<div id="signup-modal" class="modal centered-modal">
  <div id="signup-modal-content" class="modal-content">
    <div class="social-signins">
      <a href="" id="google-login" class="social-login-cta">
        <img src="/assets/images/mark-google.png" alt="">
        Sign in with Google
      </a>

      <span>/</span>
      
      <a href="" id="slack-login" class="social-login-cta">
        <img src="/assets/images/mark-slack.png" alt="">
        Sign in with Slack
      </a>
    </div>
      
    <div class="or-block">
      <hr/>
      <span>or</span>
      <hr/>
    </div>
    <form action="">
      <label for="email">
        <div>Email</div>
        <input type="email" id="email" name="email" placeholder="Enter your work email.">
      </label>
    
      <label for="name">
        <div>Full Name</div>
        <input type="text" id="name" name="name" placeholder="Enter your name, please.">
      </label>

      <label for="password">
        <div>Password</div>
        <input type="password" id="password" name="password" placeholder="Enter a password">
      </label>

      <input type="submit" value="Signup with email">
    </form>
  </div>
</div>