$col-l-teal: #009BA3;
$col-l-blue: #0091FF;
$col-l-lightblue: #59C4FF;

$col-l-gray-1: #E7E6EB;
$col-l-gray-1-50: rgba(157,154,173,0.5);
$col-l-gray-1-20: rgba(157,154,173,0.2);

$col-l-gray-2: #9D9AAD;
$col-l-gray-3: #322D4B;
$col-l-gray-3-80: rgba(50,45,75,0.8);
