div.footer {
  background-color: $col-l-gray-3;
  padding: 20px 0;
  color: $col-l-gray-1;

  a.logo {
    display: inline-block;
    height: 50px;

    img {
      height: 100%;
      width: auto;
    }
  }

  p {
    font-size: 12px;
    font-weight: 400;
  }

  ul {
    display: block;
    padding: 0; margin: 0;
    text-align: left;

    li {
      display: block;
      padding: 0; margin: 8px 0;
      list-style-type: none;

      color: white;

      h2 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1em;
        margin: 0;
      }

      a {
        color: white;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}