.header {
  padding-top: 10px;

  a.logo {
    display: inline-block;
    height: 50px;

    img {
      width: auto;
      height: 100%;
    }
  }

  .header-links {
    text-align: right;

    span.header-menu, a.header-link {
      display: inline-block;
      padding: 10px 20px;
      color: $col-l-teal;
      text-decoration: none;
      border-bottom: 2px solid transparent;
    }

    a.header-link {
      &:hover {
        color: $col-l-blue;
        border-bottom: 2px solid $col-l-blue;
      }

      &.primary {
        border: 1px solid $col-l-teal;
        border-radius: 4px;

        &:hover {
          border-width: 1px;
          border-color: $col-l-blue;
        }
      }
    }

    span.header-menu {
      position: relative;

      div.flyout {
        display: none;
        position: absolute;
        top: 100%; left: -25%;
        z-index: 2; width: 200px;
        box-shadow: 0 14px 41px -20px #009BA3;
        background-color: white;
        border-bottom: 1px solid $col-l-teal;

        a.header-link {
          width: 100%;
          text-align: center;
        }
      }

      &:hover {
        div.flyout {
          display: block;
        }
      }
    }
  }

  .header-links-block {
    box-shadow: 0 14px 41px -20px #009BA3;
    padding-top: 20px;

    a.header-link {
      display: block;
      text-decoration: none;
      font-size: 16px;
      padding: 10px 15px;
    }

    span.header-menu {
      label {
        color: $col-l-gray-3;
        font-weight: 800;
        font-size: 14px;
        line-height: 15px;
      }
    }

    div.flyout {
      border-bottom: 1px solid $col-l-teal;
    }
  }

  .mob-header-button {
    text-align: right;
    padding-right: 20px;

    a {
      font-size: 20px;
      display: inline-block;
      padding: 10px;
      text-decoration: none;

      &:active {
        text-decoration: none;
      }
    }
  }
}