div#signup-modal-content {
  background-image: url('/assets/images/Signup-modal-bottom-Blue.svg');
  background-position: bottom center;
  background-size: contain;
  background-repeat: no-repeat;

  background-color: #ffffff;
  box-shadow: 0 8px 28px -4px $col-l-gray-2;

  box-sizing: border-box;
  width: 460px;
  max-width: 100vw;

  max-height: 100vh;

  border-top: 4px solid $col-l-teal;
  border-bottom: 4px solid $col-l-teal;

  padding: 36px 24px 48px;

  div.social-signins {
    display: flex;
    margin-bottom: 24px;

    a.social-login-cta {
      flex: 1 0 auto;
      align-items: center;

      padding: 8px 12px;
      display: inline-block;
      box-shadow: 0 0 8px -2px $col-l-lightblue;
      text-decoration: none;
      border-radius: 22px;

      img {
        height: 30px;
        width: auto;
      }

      color: $col-l-gray-3;
      font-family: "Work Sans";
      font-size: 14px;
      line-height: 16px;

      transition: all 100ms ease-in;

      &:hover {
        text-decoration: none;
        box-shadow: 0 2px 8px -2px $col-l-lightblue;
      }
    }

    span {
      flex: 1 0 auto;
      display: inline-block;
      padding: 12px;
      font-size: 16px;
    }
  }

  div.or-block {
    display: flex;
    margin-bottom: 12px;

    hr {
      flex: 1 1 auto;
      display: inline-block;
      margin: 0;
    }

    span {
      margin: -12px 10px 0;
    }
  }

  form {
    width: 100%;
    margin: 0;

    input[type=submit] {
      display: block;

      padding: 11px 40px;
      background-color: $col-l-teal;
      box-shadow: 0 2px 6px -2px $col-l-teal;
      border: none;

      margin: 0 auto;

      color: #FFFFFF;
      font-family: "Work Sans";
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;

      transition: all 100ms ease-in;

      &:hover {
        opacity: 0.85;
      }
    }

    label {
      display: block;
      width: 100%;
      margin-bottom: 30px;
      
      > div {
        color: $col-l-gray-3-80;
        font-family: "Work Sans";
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 5px;
      }

      input {
        width: 100%; 
        display: block;
        border: 1px solid $col-l-gray-1-50;
        background-color: #FFFFFF;
        padding: 8px;
      }
    }
  }
}