---
---
@import 'colors';

$disp-font-family: 'Cormorant Garamond', georgia;
$base-font-family: 'PT Serif', georgia;
$sans-font-family: 'Nunito Sans', arial;
$base-font-size:   20px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$text-color: $col-l-gray-3-80;
$background-color: #ffffff;
$brand-color: $col-l-teal;
$grey-color: $col-l-gray-2;
$grey-color-light: $col-l-gray-1;

$spacing-unit:     32px !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

$on-medium:        $on-palm !default;
$on-large:         $on-laptop !default;

// Notice the following mixin uses max-width, in a deprecated, desktop-first
// approach, whereas media queries used elsewhere now use min-width.
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

@import 'blog-reset';

div.blog-header {
  width: 100%;
  background-color: $col-l-teal;

  a {
    color: white;
  }

  a.logo {
    display: inline-block;
    padding: 8px 0;
    font-size: 24px; line-height: 24px;

    img {
      height: 36px;
    }

    &:hover {
      text-decoration: none;
    }
  }

  div.header-links {
    a {
      display: inline-block;
      font-family: $sans-font-family;
      font-size: 16px; line-height: 16px;
      padding: 16px 0;
      margin-left: 12px;
    }
  }

  .text-right {
    text-align: right;
  }
}

#mc_embed_signup{
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.53) 47%, rgba(237,237,237,0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,0.53)), color-stop(100%, rgba(237,237,237,0)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.53) 47%, rgba(237,237,237,0) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.53) 47%, rgba(237,237,237,0) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.53) 47%, rgba(237,237,237,0) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,0.53) 47%, rgba(237,237,237,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}

div.blog-footer {
  width: 100%;
  margin-top: 120px;
  padding: 20px 0 80px;
  background-color: $col-l-teal;
  color: white;
  font-size: 14px;

  a {
    color: white;
    text-decoration: underline;
  }
}

div.blog-article {
  .title-cell {
    margin-top: 120px;
    margin-bottom: 60px;
    
    h1 {
      font-family: $disp-font-family;
      font-size: 48px;
      font-weight: 300;
      color: #212121;
      margin-top: 0;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $disp-font-family;
    color: $col-l-teal;
  }

  div.hero {
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;
  }

  div.article-block {
    margin-top: 20px;

    p.date {
      font-family: $sans-font-family;
      color: $col-l-gray-2;
      font-size: 16px;
    }

    hr {
      margin: 20px 0;
    }
  }

  blockquote {
    font-family: 'Cormorant Garamond';
    letter-spacing: 0.1px;
    font-size: 32px;
    font-weight: 300;
    color: #212121;
    margin-top: 0;
    border-left: 4px solid $col-l-teal;
    text-indent: 2em;
  }

  div.figure {
    margin-bottom: 12px;

    p.caption {
      text-align: center;
      font-style: italic;
      margin-top: 8px;

      span {
        font-weight: bold;
      }
    }
  }
}

div.author-block {
  div.contains-thumb {
    text-align: right;
    white-space: nowrap;
    height: 100%;

    &:before {
      display: inline-block;
      content: '';
      height: 3.5em; width: 1px;
      vertical-align: middle;
    }
  }

  span.author-thumb {
    display: inline-block;
    vertical-align: middle;
    width: 80px; max-width: 100%;

    span {
      width: 100%;
      padding-top: 100%;

      display: inline-block;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
  
      background-color: $col-l-gray-2;
      
      border: 1px solid $col-l-gray-1;
      border-radius: 40px;
      box-shadow: inset 0 0 1px 1px white;
    }
  }

  p.name, p.bio {
    font-family: $sans-font-family;
  }

  p.name {
    font-size: 1.25em;
    margin-bottom: 0px;
  }

  p.bio {
    font-size: 0.75em;
    color: $col-l-gray-2;
  }
}

div.blog-index {
  margin-top: 20px;

  div.hero {
    margin-bottom: 8px;
    background-size: cover;
    background-position: center;
  }

  a.link-to-post {
    font-size: 14px;
    color: $text-color;
    font-family: $sans-font-family;
    line-height: 1.25em;

    &:hover {
      text-decoration: none;
    }
  }

  h1 {
    font-family: $disp-font-family;
    line-height: 1.5em;
    font-size: 1.5em;
    font-weight: 300;

    margin-top: 0em;
    color: #212121;
  }
}

div.footnotes {
  font-size: 0.75em;
  margin-top: 20em;
  border-top: 1px solid $col-l-gray-1-50;

  ol li {
    margin-top: 12px;
  }
}