---
layout: blog-base
title: 'Continuous by Leanbase | Your guide to Effortless online experimentation.'
description: Run hundreds of experiments every week. Learn more, faster.
---
<div class="container blog-index">
  <div class="row">
    
    <div class="col-md-4 col-xs-12 blog-index-hero">
        {% include breadcrumbs.html %}
        {% for post in site.posts limit: 2 %}
          {% include blog-plate.html %}
        {% endfor %}
      </div>
    <div class="col-md-4 col-xs-12 blog-index-hero">
      {% for post in site.posts offset: 2 %}
          {% include blog-plate.html %}
      {% endfor %}
    </div>

    <div class="col-md-4 col-xs-12 offshore-index">
      <h1 class="section-heading">Elsewhere on the web</h1>
      {% for article in site.offshore_articles reversed %}
      <a href="{{ article.link }}" target="1">
        <div class="offshore-article">
          <span class="date">
            <div class="day">{{ article.date | date: '%d' }}</div>
            <div class="month">{{ article.date | date: '%b' }}</div>
          </span>
          <span class="content">
            <h1 class="title">{{ article.title }}</h1>
            <h2 class="source">{{ article.authors }} in {{ article.source }}</h2>
          </span>
        </div>
      </a>

      {% endfor %}
    </div>


    <!-- <div class="col-md-4 col-xs-12 blog-recent-posts">
      <h1>Recent Posts</h1>
      {% for post in site.posts offset:2 %}
        <a class="link-to-post" href="{{ post.url }}">
          <div class="post-block">
            <div class="thumb" style="background-image: url('{{ post.index_thumb }}');">
            </div>
            <div class="nameplate">
              <h1>{{ post.title }}</h1>
              <p class="author">{{ post.author }}</p>
            </div>
          </div>
        </a>
      {% endfor %}
    </div> -->
  </div>
</div>
