---
layout: blog-base
---
<div class="blog-article">
  <div class="container">
    <div class="row">
      <div class="col-md-12 title-cell">
        <h1>{{ page.title }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-xs-12 col-sm-12 hero" style="background-image: url('{{ page.hero }}'); padding-top: {{ page.hero_aspect }};">
      </div>
    </div>
    <div class="row author-block">
      <div class="col-md-2 col-sm-2 col-xs-2 contains-thumb">
        <span class="author-thumb"><span style="background-image: url('{{ page.author_thumb }}')"/></span>
      </div>
      <div class="col-md-6 col-sm-10 col-xs-10">
        <p class="name">{{ page.author }}</p>
        <p class="bio">{{ page.author_bio }}</p>
      </div>
    </div>
    <div class="row article-block">
      <div class="col-md-8 col-md-offset-2">
        <p class="date">{{ page.date | date: '%B %d, %Y' }}</p>
        <hr/>
        {{ content}}
      </div>
    </div>
    </div>
  </div>
</div>
</script>