<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.title }}</title>

    {% include analytics.html %}

    <link rel="stylesheet" href="/assets/css/bootstrap-grid.min.css">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300|PT+Serif:400|Nunito+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/assets/scss/blog.css">
    <link rel="icon" href="/favicon.png" type="image/png">

    <meta property="og:image" content="https://leanbase.io/assets/images/logo-with-text-square.png" />

    {% seo %}
  </head>
  <body class="blog">
    {% include blog-header.html %}
    {% include blog-mailchimp-form.html %}

    {{ content }}

    {% include blog-footer.html %}
  </body>
</html>