<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/assets/css/bootstrap-grid.min.css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">
    <link rel="stylesheet" href="/assets/scss/landing.css">
    <link rel="icon" href="favicon.png" type="image/png">

    <meta property="og:title" content="{{ page.title | strip_html | strip_newlines | truncate: 160 }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    <meta property="og:image" content="https://leanbase.io/assets/images/logo-full.svg" />
    <meta property="og:description" content="{{ page.description | strip_html | strip_newlines | truncate: 160  }}"/>
  </head>
  <body>
    {% include header.html %}

    {{ content }}

    {% include footer.html %}
  </body>
</html>